# Pandas Pokemon Python Project 
# Created by Brian Chairez

## PART - 1: SETUP

Firstly, import the pandas library.

In [108]:
import pandas as pd

This project will be utilizing the dataset contained in the <i>pokemon.csv</i> file. 

The <b>pandas.read_csv()</b> method will read in the data and return a pandas DataFrame which is a two-dimensional data structure with labeled axes.

In [109]:
pokemonDF = pd.read_csv('pokemon.csv')

The <b>pandas.DataFrame.columns</b> method can inspect what labels the dataset contained. 

The labels in this case represent the stat value names for each respective Pokemon. All labels as currently read in from the dataset are as follows:

In [110]:
pokemonDF.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

To view what the dataset would look like once loaded into the DataFrame, the <b>pandas.DataFrame.head()</b> method will return the first n rows of the DataFrame, the default n parameter being 5.

In [111]:
pokemonDF.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

For the purposes of this project, certain labels and their respective values can be seen as irrelevant and can therefore removed or dropped from the DataFrame to reduce the amount of redundant headspace. The <b>pandas.DataFrame.drop()</b> method will allow just that.

<u>For example:</u> </br>
'#' - represents the number of the Pokemon. This is irrelevant to a Pokemon's potential performance in battle. </br>
'Total' - is a sum of all numeric stat values from HP to Speed. This number although seemingly useful, does not provide adequate insight to be kept. </br>
'Generation' - is the generation number the Pokemon released in. This is also irrelevant to a Pokemon's potential performance in battle. </br>

In [112]:
pokemonDF.drop(columns=['#', 'Total', 'Generation'], inplace=True)

There also exists a subgenre of Pokemon referred to as "Mega"s. These Mega variations are all outliers as they contain significant boosts in all stats. However, these inflated stats, in canon, only occurs for a short period of time. Meaning no Pokemon exists as a Mega full-time. Therefore, these Mega Pokemon are too inconsistent to keep them listed as their own individual rows. 

Utilizing the <b>pandas.DataFrame.loc()</b> method will allow for data filtering as the method accesses the rows specified within it's condition.

In [113]:
pokemonDF = pokemonDF.loc[~pokemonDF['Name'].str.contains('Mega')]

One thing to note is that the filtered DataFrame's rows will keep their old index number. The <b>pandas.DataFrame.reset_index()</b> method resets the index of the DataFrame so that a new default is made. The parameter <i>drop=</i> deals with whether the newly defaulted index count should replace the current index values or simply created a new column to hold those values.

In [114]:
pokemonDF.reset_index(drop=True, inplace=True)

The updated, filtered pokemonDF:

In [116]:
pokemonDF.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,False
3,Charmander,Fire,NaN,39,52,43,60,50,65,False
4,Charmeleon,Fire,NaN,58,64,58,80,65,80,False

## PART - 2: ANALYSIS

Now for the meat of what pandas has to offer while also using those results to draw informed conclusions about specific Pokemon.